**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/obj
**/Logs
**/appsettings.Development.json
**/secrets.json
README.md
LICENSE
.editorconfig
